.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{ color: rgb(240, 248, 255);
background-color: black;
font-family: "Roboto Mono", monospace;
}


header{ 
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

.chamada{
  background: rgb(156, 169, 213);
  padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
     justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

.categoria-videos {.categoria-videos img
  display: flex;
  overflow-x: auto;
  gap: 10px;
  gap: 10px;
}



.chamada-texto {
    margin-right: 5%;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  gap: 10px;
}

section {
  padding-left: 20px;
  padding-right: 20px;
}

.categoria-videos img{
  height:200px;
  opacity: 0.5;
}

  .categoria-videos img:hover{
    opacity: 1.0;
    border: solid 6px greenyellow;
    border-radius: 15px;
  }


